# Ignore all
*


# 	Except these specific files:
# Headers
!inc
!inc/libft.h
!inc/ft_printf.h

# Source ('ft_' preffix)
!src
!src/basic
!src/basic/get_next_line.c
!src/bonus
!src/ft_printf
!src/*/ft_*.c

# Makefile
!Makefile

# gitignore
!.gitignore
